
<h1>Билеты</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= link_to t('common.show'), ticket %></td>
        <td><%= link_to t('common.edit'), edit_ticket_path(ticket) %></td>
        <td><%= link_to t('common.delete'), ticket, method: :delete, data: { confirm: t('common.sure_or_not') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
