<p>
  <strong>Up seats number:</strong>
  <%= carriage.up_seats%>
  </br>
  <strong>Down seats number:</strong>
  <%= carriage.down_seats%>
  </br>
  <strong>Side up seats number:</strong>
  <%= carriage.side_up_seats%>
  </br>
  <strong>Side down seats number:</strong>
  <%= carriage.side_down_seats%>
</p>