<p id="notice"><%= notice %></p>

<h1>Carriages</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Up seats</th>
      <th>Down seats</th>
      <th>Sitting seats</th>
      <th>Up side seats</th>
      <th>Up down seats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carriages.each do |carriage| %>
      <%= render 'carriage', carriage: carriage %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carriage', new_carriage_path %>
